<div class="header">
    <div class="containerGeneral">
        <div class="containerMenu">
            <div class="movies">movies.</div>
            <div class="nav">
                <a href="#"> Home</a>
                <a href="#">Series</a>
                <a href="#"> Películas</a>
                <a href="#">  Mi lista</a>
            </div>
        </div>
        <div class="ContainerUser">
            <div class="icon">
                <img class="vector" src="assets/icons/search.svg" alt="SVG Search">
            </div>
            <div class="container">
                <p>!Hola {{user}}!</p>
                <div class="ContainerDropdown">
                    <img src="../assets/images/imagen-perfil.jpg" alt="Imagen User">
                    <img class="vectorDown" src="assets/icons/dropDownArrow.svg" alt="SVG Down">
                    <div class="DropdownContent">Hola a Todos!</div>
                </div>
            </div>
        </div>
    </div>    
</div>
