<div class="header gap10">
    <div class="header__container gap85">
        <div class="header__menu gap50">
            <div class="header__menu--logo weight400">movies.</div>
            <div class="header__menu--nav gap80 weight600">
                <a href="#"> Home</a>
                <a href="#">Series</a>
                <a href="#"> Películas</a>
                <a href="#">  Mi lista</a>
            </div>
        </div>
        <div class="user gap20">
            <div class="user__icon">
                <img class="user__icon--vector" src="assets/icons/search.svg" alt="SVG Search">
            </div>
            <div class="user__perfil gap10">
                <p>!Hola {{user}}!</p>
                <div class="user__perfil--imagen gap6">
                    <img src="../assets/images/imagen-perfil.jpg" alt="Imagen User">
                    <img class="vectorDown" src="assets/icons/dropDownArrow.svg" alt="SVG Down">
                    <div class="DropdownContent">Hola a Todos!</div>
                </div>
            </div>
        </div>
    </div>    
</div>
