
    <div class="cards">
        <div *ngFor="let d of lista; let i=index" class="card" (click)="elegirPelicula(d)">
        <img class="imageCards" src="{{d.src}}" alt="SVG Search">
        <div class="containerValoracion">
            <span>8,9</span><img class="star" src="assets/icons/star.svg" alt="SVG Search">
        </div>
        <div class="tituloPelicula">
            <p>{{d.name}}</p>
        </div>
        <div class="datosPelicula">
            <p>{{d.year}}  {{d.duracion}}m</p>
        </div>
    </div>
   
</div>
<app-ficha [tarjeta]="tarjetaSelect" *ngIf="tarjetaSelect"></app-ficha>



