<div class="main">
  <div class="ficha">
    <div class="rastro">
        Peliculas > valoraciones
    </div>
    <div class="contentFicha">
        <div> <img class="imageCards" src="{{tarjeta.src}}" alt="SVG Search">
            <div class="containerValoracion">
                <span>8,9</span><img class="star" src="assets/icons/star.svg" alt="SVG Search">
            </div>
            <div class="tituloPelicula">
                <p>{{tarjeta.name}}</p>
            </div>
            <div class="datosPelicula">
                m
            </div>
        </div>
    </div>
</div>
</div>
