<div class="main">
  <div class="ficha">
    <div class="rastro">
        Peliculas > valoraciones
    </div>
    <div class="contentFicha">
        <div> 
            <img class="imageCards" src="{{tarjeta.src}}" alt="SVG Search">
            <div class="containerValoracion">
                <span>8,9</span>★
            </div>
           <div class="detalle"> 
            <div>
                <p>{{tarjeta.name}}</p>
            </div>
            <div class="datosPelicula">
               {{tarjeta.year}}          {{tarjeta.duracion}} m
            </div>
        </div>
        </div>
        <div class="sipnosis">
        SINOPSIS
        <p>
        {{tarjeta.texto}}    
        </p>
        </div>
    </div>
    <a href="formulario">VALORAR</a>
</div>
</div>
