<div class="main">
  <div class="ficha">
    <div class="rastro">
        <span class="grey">Peliculas</span><span>></span><span class="blue">valoraciones</span>              
    </div>
    <div class="contentFicha">
        <div> 
            <img class="imageCards" src="{{tarjeta.src}}" alt="SVG Search">
            <div class="valoracion">
                <p>{{tarjeta.valoracion}}</p>
            </div>
           <div class="detalle"> 
            <div><p class="name">{{tarjeta.name}}</p></div>
            <div class="datosPelicula">
               <div>{{tarjeta.year}}</div>
               <div>{{tarjeta.duracion}} m</div>
            </div>
        </div>
        </div>
        <div class="sipnosis">
        SINOPSIS
        <p>
        {{tarjeta.texto}}    
        </p>
        </div>
    </div>
    <div>
    <a class="botonValorar" href="formulario">
        <img class="check" src="assets/icons/check.svg" alt="SVG Search"><p>Valorar</p>
    </a>
</div>
</div>
</div>
