.main{
    width: 1920px;
    height: 1334px;
    color: white;
    background-color: #222;
}

.ficha{
    width: 1576px;
    height: 831.49px;
    top: 97px;
    left: 172px;
    display: grid;
    gap: 24px;
    margin: 0px auto;
}

.rastro{
    width: 1576px;
    height: 30px;
    gap: 24px;
}

.breadCrumb{
    width: 776px;
    height: 30px;
    gap: 8px;
}

.contentFicha{
    width: 1576px;
    height: 709.49px;
    display: flex;
    gap: 183px;
}