.main{
    width: 1920px;
    height: 1334px;
    background-color: rgb( 34, 34, 34, 0.95);
    font-family: "Roboto", sans-serif;
    color: white;
    position: absolute;
    top: 73px;
    left: 0px;    
}

.cerrar{
    cursor: pointer;
    width: 21px;
    height: 21px;
    justify-content: right;
}

.form{
    width: 936px;
    border-radius: 10px;
    padding: 24px;
    display: grid;
    gap: 24px;
    background-color: #080808;
    margin: 200px auto;
}

.form__header{
    height: 69px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size:20px;
    Line-height: 20px;

    h2{
        font-weight: 600;
        size: 24px;
        line-height: 28.13px;
    }
}

.form__modal{
    height: 292px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 24px; 

    div{
        display: grid;
        row-gap: 2px;
    }
}

.form__modal--input{
    width: 432px;
    height: 40px;
    padding: 4px, 8px, 4px, 8px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}

.botonera{
    width: ;
    display: flex!important;
    gap: 16px;
    text-align: center;
    line-height: 2;
    justify-content: right;
    margin: 16px;

    .boton{
        cursor: pointer;
        width: 134px;
        height: 44px;
        border: 10px;
        border-radius: 10px;
        font-size: 22px;
        font-weight: 600;
        border: 1px solid #ffffff;
    }

    a{
        color: #ffffff;
        text-decoration: none;
    }

    div{
        display: flex; 
        gap:8px; 
        align-items: center;
        padding-left: 5px;
    }

    .submitBoton{
        background-color: #69C3D9;
        border: none;
    }
}